section.intro 
    .container.intro__container 
        .intro__desc 
            h1 Double click text to change it
            p To style this paragraph, select this paragraph, then edit its styles in the Style tab on the right side of the Designer.
            a(href="#").start Edit this link in the settings tab in the right panel
        .intro__image.screenshot
            +screenshot(screenshots[0])