include blocks/mixins.pug
html(lang="uk")
    +head("Logo-you can create your own logo", "You can create your own logo", "")
    body
        include blocks/header.pug
        main 
            include blocks/intro.pug
        script(src='js/script.min.js')